<h3>Hakemler</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>User Name</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="referee in referees">
        <td>{{referee.name}}</td>
        <td>{{referee.surname}}</td>
        <td>{{referee.userName}}</td>
        <td>{{referee.mail}}</td>
    </tr>



    </tbody>
</table>