<h3>Kullanıcılar</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>User Name</th>
        <th>Mail</th>
        <th>Experience</th>
        <th>Licence Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.experience}}</td>
        <td>{{user.licenceStatus}}</td>
    </tr>



    </tbody>
</table>