<h3>Sistem Yöneticisi</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>User Name</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="systemManager in systemManagers">
        <td>{{systemManager.name}}</td>
        <td>{{systemManager.surname}}</td>
        <td>{{systemManager.userName}}</td>
        <td>{{systemManager.mail}}</td>
    </tr>



    </tbody>
</table>