
<h3>Proje Başvurusu</h3>

<div class="col-md-6 col-md-offset-3">
    <form ng-submit="createProject(project)">

     <input class="form-control" id="projeBasligi" type="text" placeholder="Proje Başlığı" ng-model="project.title"> <br>

    <input class="form-control" id="projeOzeti" type="text" placeholder="Proje Özeti" ng-model="project.summary"><br>

    <input class="form-control" id="anahtarKelimeler" type="text" placeholder="Anahtar Kelimeler" ng-model="project.keywords" ><br>



        <input type="submit" class="btn btn-success" value="Kaydet">
    <button type="button"  class="btn btn-danger" ng-click="cancel()">İptal</button>
    <input type="file" id="exampleInputFile" ng-model="project.document">


    <table class="table">
        <thead>
        <tr>
            <th>İsim</th>
            <th>Doküman</th>
            <th>Başlık</th>
            <th>Anahtar Kelimeler</th>
            <th>Konu</th>
            <th>Uzman Değerlendirmesi</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.name}}</td>
            <td>{{project.document}}</td>
            <td>{{project.title}}</td>
            <td>{{project.keywords}}</td>
            <td>{{project.summary}}</td>
            <td>{{project.expertEvaluation}}</td>
        </tr>

        </tbody>
    </table>
</div>
