<h3>Uzmanlar</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expert in experts">
        <td>{{expert.name}}</td>
        <td><button type="button" class="btn btn-danger"   ng-click="deleteExpert(expert.id)">Sil</button></td>
        <td><button type="button" class="btn btn-info" ng-click="duzenle">Düzenle</button></td>

    </tr>




    </tbody>
</table>
