<h3>Yönetici</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>User Name</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="manager in managers">
        <td>{{manager.name}}</td>
        <td>{{manager.surname}}</td>
        <td>{{manager.userName}}</td>
        <td>{{manager.mail}}</td>
    </tr>

    </tbody>
</table>